[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:Thomas134/learning-cxx.git
[submodule "exams"]
	path = exams
	url = git@github.com:Thomas134/exams.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = git@github.com:Thomas134/TinyInfiniTensor.git
